input[type=text] {
    position: relative;
    width: 98%;
    padding: 12px 20px;
    margin: 8px 9px 9px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-self: center;
}

input[type=email] {
    position: relative;
    width: 98%;
    padding: 12px 20px;
    margin: 8px 9px 9px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-self: center;
}

#msg {
    position: relative;
    width: 98%;
    padding: 12px 20px;
    margin: 8px 9px 9px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-self: center;
    height: 200px;
}
label {
    margin-left: 10px;
    margin-right: 10px;
}
.title {
    margin-left: 10px;
}

#submit {
    background-color: #4aaaa5;
    color: whitesmoke;
    margin-left: 15px;
    margin-bottom: 15px;
    height: 25px;
    width: 75px;
}

#submit:hover{
    background-color: orangered;
}