h6 {
    color: whitesmoke;
    background-color: #4aaaa5;
    height: 20px;
    width: 250px;
    text-align: center;
    position: absolute;
    padding-top: 14px;
    padding-bottom: 8px;
    margin-top: 190px;
    font-size: 1rem;
}

.title {
    margin-left: 30px;
    margin-right: 30px;
}

.pics{
    /* position: relative; */
}

.pic1{
    float: left;
    margin-left: 30px;
    margin-bottom: 35px;
}
.pic1:hover{
    opacity: 0.7;
}
.pic2{
    float: left;
    margin-right: 200px;
    margin-left: 50px;
    margin-bottom: 35px;
}
.pic2:hover{
    opacity: 0.7;
}
.pic3{
    float: left;
    margin-left: 30px;
    margin-bottom: 35px;
}
.pic3:hover{
    opacity: 0.7;
}
.pic4{
    float: left;
    margin-right: 200px;
    margin-left: 50px;
    margin-bottom: 35px;
}
.pic4:hover{
    opacity: 0.7;
}
.pic5{
    float: left;
    margin-left: 30px;
}
.pic5:hover{
    opacity: 0.7;
}

input{
    color: whitesmoke;
    background-color: #4aaaa5;
}

